$c: (
    'white': #ffffff,
    'black': #000000,
    'black-2': #545454,
    'gold': #f1d204,
    'gray': #8c979e,
    'purple': #6a4d8a,
    'red': #f18b6d
) !default;

$bg: (
    'white': #ffffff,
    'black': #000000,
    'black-2': rgba(0, 0, 0, .2),
    'black-3': rgba(0, 0, 0, .1),
    'black-4': rgba(0, 0, 0, .75),
    'dark': #242320,
    'dark-2': #292825,
    'dark-3': #222f36,
    'gold': #f1d204,
    'purple': #6a4d8a,
    'red': #f18b6d
) !default;

$b: (
    'white': 3px solid #ffffff,
    'white-2': 2px solid #ffffff
) !default;

$bp: (
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200
) !default;

$primary-font: 'Lato', sans-serif !default;
$secondary-font: 'Poppins' !default;