.nav {
    &__link {
        @extend %a;
        color: c('white');
        font-weight: 700;

        &:hover {
            color: c('gold');
        }
    }

    &--desktop {
        @include media-down(lg) {
            display: none;
        }
        
        .nav {
            &__menu {
                display: flex;
            }
        
            &__link {
                padding: 1rem 0.75rem;

            }

            &__item {
                &:not(:last-child) {
                    margin-right: 0.75rem;
                }
            }
        }
    }

    &--mobile {
        @include media-up(lg) {
            display: none;
        }

        .nav {
            &__btn, &__btn2 {
                display: block;
                cursor: pointer;
            }

            &__btn {
                @include position($p: relative, $z: 2);
                width: 28px;
                height: 21px;
                margin-right: 1rem;
            }

            &__btn2 {
                @include media-up(sm) {
                    @include position(absolute, 0, 0, 0, 100%, 1);
                    width: calc(100vw - 300px);
                    background: bg('black-4');
                }
            }

            &__menu {
                @include position($p: fixed, $t: 0, $b: 0, $l: -200vw, $z: 1);
                width: 100vw;
                padding-top: 5rem;
                background: bg('black');
                transition: left .6s ease-in-out;
           
                @include media-up(sm) {
                    width: 300px;
                }
            }

            &__link {
                display: block;
                padding: 0.75rem 1rem;
            }
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: bg('white');
            transition: all .3s ease-in-out;
            left: 0;

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 9px;
            }

            &:nth-of-type(3) {
                top: 18px;
            }
        }
    
        #toggler:checked + label {
            position: sticky;
        }

        #toggler:checked + label > span {
            &:nth-of-type(1) {
                top: 9px;
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
                width: 0%;
            }

            &:nth-of-type(3) {
                top: 9px;
                transform: rotate(-45deg);
            }
        }

        #toggler:checked ~ .nav__menu {
            left: 0;
        }

        #toggler {
            display: none;
        }
    }
}