%input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: b('silver');
    font-size: 1em;
    font-family: $primary-font;
    color: c('gray');
    background: bg('silver');
}

%textarea {
    @extend %input;
    resize: vertical;
}

%label {
    display: block;
    margin-bottom: 0.5rem;
    color: c('gray');
}

%form-row {
    margin-bottom: 1rem;
}

%form-flex {
    display: flex;
    flex-wrap: wrap;
}